.navtextstyle{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textcolor:hover{
    color: #3b83fb;
}
.button2:hover {
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
  
  .button2:active {
    transform: translate(0em, 0.2em);
  }
  
  .button2 {
    font-size: 17px;
    padding: 0.5em 2em;
    border: solid;
    background: #3b83fb;
    border-color: #3b83fb;
    color: #fff; 
    border-radius: 8px;
    width: auto;
    font-size: 13px;
    height: 47px;
  }

 
  